<div class="container">

    <div class="field-slider">
        <div class="">
            <img class="" src="./assets/img/design.png">
            <!-- <h1 class="outline-none" [routerLink]="['/t', randomTopic.slug]">{{randomTopic.title | titlecase | limitTo : suggesionTop}}</h1> -->
        </div>
        <div class="">
            <img class="" src="./assets/img/food.png">
            <!-- <h1 class="outline-none" [routerLink]="['/t', randomTopic.slug]">{{randomTopic.title | titlecase | limitTo : suggesionTop}}</h1> -->
        </div>
        <div class="">
            <img class="" src="./assets/img/painting.png">
            <!-- <h1 class="outline-none" [routerLink]="['/t', randomTopic.slug]">{{randomTopic.title | titlecase | limitTo : suggesionTop}}</h1> -->
        </div>
        <div class="">
            <img class="" src="./assets/img/food.png">
            <!-- <h1 class="outline-none" [routerLink]="['/t', randomTopic.slug]">{{randomTopic.title | titlecase | limitTo : suggesionTop}}</h1> -->
        </div>
        <div class="">
            <img class="" src="./assets/img/design.png">
            <!-- <h1 class="outline-none" [routerLink]="['/t', randomTopic.slug]">{{randomTopic.title | titlecase | limitTo : suggesionTop}}</h1> -->
        </div>
        <div class="">
            <img class="" src="./assets/img/painting.png">
            <!-- <h1 class="outline-none" [routerLink]="['/t', randomTopic.slug]">{{randomTopic.title | titlecase | limitTo : suggesionTop}}</h1> -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <button class="btn btn-primary" (click)="open()">Click</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>